:root {
  --spacer-3xs: 2px;
  --spacer-2xs: 4px;
  --spacer-xs: 8px;
  --spacer-sm: 12px;
  --spacer-md: 16px;
  --spacer-lg: 20px;
  --spacer-xl: 32px;
  --spacer-2xl: 48px;
  --spacer-3xl: 64px;
}
